.#*
\#*\#
*~
elpa/
/recentf
/network-security.data
bookmarks
/tramp
eshell
thumbs
games
image-dired
/recentf
/forge-database.sqlite
/transient
ido.last
.cache/
.emacs_workgroups
/persp-confs
projectile-bookmarks.eld
/smex-items
ac-comphist.dat